h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align:center;
    color:brown;
    font-size: 50px;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color:antiquewhite;
    padding: 20px 0;
}
main{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
section{
    margin-bottom: 20px;
}
img{
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
h2, h3, h4{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
