header {
    background-color:blanchedalmond ;
}
main {
    background-color:blanchedalmond;
}
footer {
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    text-align: center;
    color:brown ;
}
h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
    color: brown;
}
img {
    border: 5px solid brown;
    margin: 10px;
    padding: 25px;
}
a {
color: brown;
}
a:hover {
    color:burlywood;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid img {
    width:100px;
}